.sidebar-content {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 45px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;

  .user-profile {
    text-align: center;
    margin-top: 80px;
    .user-dp {
      position: relative;
      .thumbnail {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .online-status {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: rgb(44, 242, 112);
        position: absolute;
        bottom: 12px;
        right: 80px;
      }
    }
    .user-name {
      color: rgb(39, 48, 87);
      margin-top: 25px;
      margin-bottom: 8px;
      font-size: 1.5em;
      font-weight: 600;
    }
    .user-email {
      color: #a1a1a1;
      font-size: 0.8em;
    }
  }
}
