/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(241, 243, 246);

  .floating-panel {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.02);
    background-color: #ffffff;
  }
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

mat-dialog-container {
  border-radius: 20px !important;
}

.breadcrumbs {
  a {
    margin-top: 7px;
    display: inline-block;
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 400;
    transition: 0.2;

    &:hover {
      color: #c0e218;
      transition: 0.2;
    }
  }
}
